@charset "UTF-8";

$CBrand: #FF563F;

$CTmain: #000;
$CTmain2: #222;

$CTsub: #777;
$CTsub2: #999;
$CTsub3: #bbb;
$CTsub4: #aaa;

$CBg: #ddd;
$CBg2: #eee;
$CBg3: #f9f9f9;
$CBg4: #fafafa; 

$font: 'Jost', sans-serif;
