.header-wrap {
  position: fixed;
  top: 0;
  padding-left: 1.25rem;
  background-color: transparent;
}
.header-wrap.dark {
  background-color: #000;
}
.header-wrap.up {
  top: 0 !important;
  background-color: #000;
}

.main#container {
  padding-top: 0;
}
.main#container .content-wrap {
  padding-top: 0;
}
.main section {
  margin-top: 5rem;
}
.main section:first-of-type {
  margin-top: 0;
}
.main section .title-wrap {
  margin: 0 1.25rem 1.25rem;
}
.main section .title-wrap .title-type2 {
  width: 80%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.6875rem;
  white-space: initial;
  max-height: 3.375rem;
}
.main section .title-wrap .side-box {
  border-bottom: 0.0625rem solid #000;
  font-size: 0.75rem;
}
.main .gnb-wrap {
  position: sticky;
  top: -0.25rem;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 40;
  transition: all 0.3s ease-in-out;
}
.main .gnb-wrap.up {
  top: 3rem;
}
.main .gnb-wrap ul {
  display: flex;
  padding: 1.25rem;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
}
.main .gnb-wrap ul::-webkit-scrollbar {
  display: none;
}
.main .gnb-wrap ul li {
  margin-left: 1.25rem;
}
.main .gnb-wrap ul li a {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: #bbb;
  font-weight: 500;
}
.main .gnb-wrap ul li.active a {
  color: #000;
}
.main .gnb-wrap ul li:first-child {
  margin-left: 0;
}
.main .visual-wrap .visual-swiper {
  position: relative;
}
.main .visual-wrap .swiper-slide a {
  position: relative;
  display: block;
}
.main .visual-wrap .swiper-slide a::after {
  content: "";
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
  opacity: 0.3;
  bottom: 0;
}
.main .visual-wrap .swiper-slide a .img-box img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .visual-wrap .swiper-slide a .text-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  padding-bottom: 3.125rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.main .visual-wrap .swiper-slide a .text-box .title-type {
  color: #fff;
  word-break: keep-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2.3125rem;
  white-space: initial;
  max-height: 4.625rem;
}
.main .visual-wrap .swiper-slide a .text-box .sub-title-type {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: #fff;
  word-break: keep-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3125rem;
  white-space: initial;
  max-height: 2.625rem;
}
.main .visual-wrap .swiper-slide a .video-wrap .video-area {
  padding-bottom: 100%;
}
.main .visual-wrap .swiper-slide a .video-wrap .video-area iframe {
  min-width: initial;
}
.main .visual-wrap .swiper-slide.swiper-slide-active .text-box .title-type {
  animation: title-slide 700ms;
}
.main .visual-wrap .swiper-slide.swiper-slide-active .text-box .sub-title-type {
  animation: title-slide 900ms;
}
.main .visual-wrap .swiper-pagination {
  position: absolute;
  bottom: 1.6875rem;
  left: 1.25rem;
  right: 1.25rem;
  top: initial;
  width: inherit;
  height: 2px;
  z-index: 10;
}
.main .visual-wrap .swiper-pagination.swiper-pagination.swiper-pagination-progressbar {
  background-color: rgba(238, 238, 238, 0.200000003);
}
.main .visual-wrap .swiper-pagination.swiper-pagination.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #fff;
}
.main .new-wrap {
  margin-top: 1.25rem;
}
.main .new-wrap .product-item .product-model .img-box {
  padding-bottom: 133.1288%;
}
.main .new-wrap .product-item .product-model .img-box .swiper-slide {
  width: 100%;
  margin: 0;
}
.main .new-wrap .product-item .product-info {
  padding: 1rem 0 0;
}
.main .tailored-wrap {
  position: relative;
  margin: 5rem 0 0;
  padding: 2.5rem 1.25rem;
  background-color: #f9f9f9;
}
.main .tailored-wrap p {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 500;
}
.main .tailored-wrap .btn-wrap {
  margin-top: 1.25rem;
}
.main .tailored-wrap .btn-wrap .btn-type2 {
  margin: 0;
  padding: 0;
}
.main .tailored-wrap .btn-wrap .btn-type2:first-child {
  border-right: 0;
}
.main .tailored-wrap .btn-close {
  position: absolute;
  top: 1.5625rem;
  right: 1.25rem;
}
.main .event-wrap .swiper .swiper-slide {
  overflow: hidden;
  display: flex;
  width: 100%;
  min-height: 12.5rem;
  max-height: 12.5rem;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.main .event-wrap .swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  min-height: 12.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.main .event-wrap .swiper .video-wrap {
  min-height: 12.5rem;
}
.main .event-wrap .swiper .swiper-paging2 {
  position: absolute;
  bottom: 1.25rem;
  right: 1.25rem;
  z-index: 1;
}
.main .event-wrap .swiper.event-swiper2 .swiper-slide {
  min-height: 5rem;
  max-height: 5rem;
}
.main .event-wrap .swiper.event-swiper2 .swiper-slide img {
  min-height: 5rem;
}
.main .event-wrap .swiper.event-swiper2 .video-wrap {
  min-height: 5rem;
}
.main .brand-wrap .brand-box .img-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-bottom: 133.432%;
  vertical-align: middle;
}
.main .brand-wrap .brand-box .img-box img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.main .brand-wrap .brand-box .img-box .video-wrap .video-area iframe {
  width: initial;
  height: initial;
}
.main .brand-wrap .brand-box .text-box {
  margin: 1.25rem 1.25rem 0;
  transition: all 0.5s ease-in-out;
}
.main .brand-wrap .brand-box .text-box strong {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 500;
}
.main .brand-wrap .brand-box .text-box p {
  margin-top: 0.625rem;
  font-size: 0.75rem;
  word-break: keep-all;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.0625rem;
  white-space: initial;
  height: 3.1875rem;
  word-wrap: break-word;
}
.main .brand-wrap .brand-box .text-box .btn-type2 {
  margin-top: 1.5625rem;
}
.main .brand-wrap .brand-box .text-box .btn-type2 span {
  margin-left: 0.25rem;
}
.main .brand-wrap .brand-swiper .swiper-slide.swiper-slide-active .text-box {
  opacity: 1;
}
.main .brand-wrap .swiper-pagination {
  margin: 1.25rem 1.25rem 0;
  width: initial;
}
.main .highlights-wrap .highlights-swiper .swiper-slide .video-wrap .video-area {
  padding-bottom: 100%;
  height: initial;
}
.main .highlights-wrap .highlights-swiper .swiper-slide .video-wrap .video-area iframe {
  min-width: initial;
}
.main .highlights-wrap .highlights-swiper .swiper-slide .video-wrap + .img-box img {
  position: relative;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .highlights-wrap .highlights-swiper .swiper-slide .img-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  vertical-align: middle;
}
.main .highlights-wrap .highlights-swiper .swiper-slide .img-box img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.main .highlights-wrap .highlights-swiper .swiper-slide .text-box {
  margin-top: 1.25rem;
}
.main .highlights-wrap .highlights-swiper .swiper-slide .text-box strong {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 500;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .highlights-wrap .highlights-swiper .swiper-slide .text-box p {
  margin-top: 0.625rem;
  font-size: 0.75rem;
  line-height: 1.0625rem;
  word-break: keep-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.0625rem;
  white-space: initial;
  height: 2.125rem;
}
.main .highlights-wrap .highlights-swiper .swiper-slide .text-box .btn-type2 {
  margin-top: 1.5625rem;
}
.main .highlights-wrap .highlights-swiper .swiper-pagination {
  margin: 1.25rem 0 0;
}
.main .wmuse-wrap .btn-wrap {
  margin-top: 1.5625rem;
}
.main .brand-wrap2 .tab-menu-swiper {
  padding: 0 1.25rem;
}
.main .brand-wrap2 .tab-menu-swiper .swiper-slide {
  width: auto;
  padding: 0.125rem;
  height: inherit;
}
.main .brand-wrap2 .tab-menu-swiper .swiper-slide a {
  display: block;
  height: 1.875rem;
  padding: 0 0.75rem;
  border: 0.0625rem solid #ddd;
  border-radius: 1.25rem;
  font-size: 0.75rem;
  line-height: 1.875rem;
  color: #000;
}
.main .brand-wrap2 .tab-menu-swiper .swiper-slide a::before {
  display: none;
}
.main .brand-wrap2 .tab-menu-swiper .swiper-slide.selected a {
  background-color: #000;
  color: #fff;
  font-weight: 400;
}
.main .brand-wrap2 .tab-menu-swiper .swiper-slide.selected a::before {
  font-weight: 400;
}
.main .brand-wrap2 .tab-list-swiper .brand-box {
  position: relative;
  margin-top: 1.25rem;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  vertical-align: middle;
}
.main .brand-wrap2 .tab-list-swiper .brand-box img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.main .brand-wrap2 .tab-list-swiper .brand-box .text-box {
  position: absolute;
  bottom: 1.25rem;
  left: 1.25rem;
  right: 1.25rem;
  z-index: 10;
  font-size: 1.3125rem;
  line-height: 1.6875rem;
  color: #fff;
  word-break: keep-all;
}
.main .brand-wrap2 .tab-list-swiper .brand-box::after {
  content: "";
  height: 100vw;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  background: linear-gradient(to bottom, rgba(84, 84, 84, 0), #000);
  opacity: 0.400000006;
  bottom: 0;
}
.main .brand-wrap2 .tab-prd-list {
  display: none;
}
.main .brand-wrap2 .tab-prd-list.active {
  display: block;
}
.main .brand-wrap2 .tab-prd-list .product-list {
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  padding: 1.25rem 1.25rem 0;
}
.main .brand-wrap2 .tab-prd-list .product-list::-webkit-scrollbar {
  display: none;
}
.main .brand-wrap2 .tab-prd-list .product-list .product-item {
  display: inline-flex;
  width: 6.5625rem;
}
.main .brand-wrap2 .tab-prd-list .product-list .product-item .product-model .img-box {
  padding-bottom: 133.333%;
}
.main .brand-wrap2 .tab-prd-list .product-list .product-item .product-info {
  padding: 1rem 0 0;
}
.main .brand-wrap2 .tab-prd-list .product-list .product-item .product-title {
  overflow: hidden;
  height: 0.875rem;
}
.main .brand-wrap2 .tab-prd-list .product-list .product-item .product-title .title {
  margin: 0;
  font-size: 0.75rem;
  line-height: 0.875rem;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .brand-wrap2 .tab-prd-list .product-list .product-item .product-price {
  margin-top: 0.625rem;
}
.main .brand-wrap2 .tab-prd-list .product-list .product-item + .product-item {
  margin-left: 0.375rem;
}
.main .brand-wrap2 .btn-wrap {
  margin: 1.5625rem 1.25rem 0;
}
.main .product-wrap .menu-swiper {
  padding: 0 1.25rem;
  overflow: hidden;
}
.main .product-wrap .menu-swiper .swiper-slide {
  padding: 0.125rem;
  height: inherit;
}
.main .product-wrap .menu-swiper .swiper-slide a {
  display: block;
  height: 1.875rem;
  padding: 0 0.75rem;
  border: 0.0625rem solid #ddd;
  border-radius: 1.25rem;
  font-size: 0.75rem;
  line-height: 1.875rem;
  color: #000;
}
.main .product-wrap .menu-swiper .swiper-slide a::before {
  display: none;
}
.main .product-wrap .menu-swiper .swiper-slide.active a {
  background-color: #000;
  color: #fff;
  font-weight: 400;
}
.main .product-wrap .menu-swiper .swiper-slide.active a::before {
  font-weight: 400;
}
.main .product-wrap .prd-content {
  display: none;
}
.main .product-wrap .prd-content.active {
  display: block;
}
.main .product-wrap .product-swiper {
  margin-top: 1.25rem;
  padding-bottom: 0;
}
.main .product-wrap .product-swiper .product-item .product-model .img-box {
  padding-bottom: 133.1288%;
}
.main .product-wrap .product-swiper .product-item .product-info {
  padding: 1rem 0 0;
}
.main .product-wrap .product-swiper .product-item .product-title {
  height: 2.25rem;
}
.main .product-wrap .product-swiper .product-item .product-title .brand {
  font-size: 0.75rem;
  line-height: 1.0625rem;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .product-wrap .product-swiper .product-item .product-title .title {
  margin-top: 0.3125rem;
  font-size: 0.75rem;
  line-height: 0.875rem;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .product-wrap .product-swiper .product-item .product-price {
  margin-top: 0.625rem;
}
.main .product-wrap .btn-wrap {
  margin: 1.5625rem 1.25rem 0;
}
.main .ranking-wrap .tab-type2 {
  justify-content: initial;
  margin-bottom: 1.875rem;
}
.main .ranking-wrap .tab-type2 li a {
  font-size: 0.75rem;
}
.main .ranking-wrap .tab-type2 li + li {
  margin-left: 1.5rem;
}
.main .ranking-wrap .ranking-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem 0.25rem;
}
.main .ranking-wrap .ranking-list li a {
  display: block;
  height: 1.875rem;
  padding: 0 0.75rem;
  border: 0.0625rem solid #eee;
  border-radius: 1.25rem;
  line-height: 1.875rem;
  font-size: 0.75rem;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-inline-box;
}
.main .ranking-wrap .ranking-list li:nth-child(1) a::before {
  content: "01.";
  display: inline-block;
  padding-right: 0.25rem;
}
.main .ranking-wrap .ranking-list li:nth-child(2) a::before {
  content: "02.";
  display: inline-block;
  padding-right: 0.25rem;
}
.main .ranking-wrap .ranking-list li:nth-child(3) a::before {
  content: "03.";
  display: inline-block;
  padding-right: 0.25rem;
}
.main .ranking-wrap .ranking-list li:nth-child(4) a::before {
  content: "04.";
  display: inline-block;
  padding-right: 0.25rem;
}
.main .ranking-wrap .ranking-list li:nth-child(5) a::before {
  content: "05.";
  display: inline-block;
  padding-right: 0.25rem;
}
.main .ranking-wrap .ranking-list li:nth-child(6) a::before {
  content: "06.";
  display: inline-block;
  padding-right: 0.25rem;
}
.main .ranking-wrap .ranking-list li:nth-child(7) a::before {
  content: "07.";
  display: inline-block;
  padding-right: 0.25rem;
}
.main .ranking-wrap .ranking-list li:nth-child(8) a::before {
  content: "08.";
  display: inline-block;
  padding-right: 0.25rem;
}
.main .ranking-wrap .ranking-list li:nth-child(9) a::before {
  content: "09.";
  display: inline-block;
  padding-right: 0.25rem;
}
.main .ranking-wrap .ranking-list li:nth-child(10) a::before {
  content: "10.";
  display: inline-block;
  padding-right: 0.25rem;
}
.main .brand-wrap3 .tab-menu-swiper2 {
  padding: 0 0.625rem;
}
.main .brand-wrap3 .tab-menu-swiper2 .swiper-slide {
  position: relative;
  width: 4.875rem;
  margin: 0 0.625rem;
}
.main .brand-wrap3 .tab-menu-swiper2 .swiper-slide .img-box {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  width: 4.875rem;
  height: 4.875rem;
  transition: all 0.15s ease-in;
}
.main .brand-wrap3 .tab-menu-swiper2 .swiper-slide .img-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4.875rem;
  border: 0.125rem solid #eee;
  transition: all 0.15s ease-in;
}
.main .brand-wrap3 .tab-menu-swiper2 .swiper-slide .img-box img {
  display: block;
  border-radius: 4.875rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
  padding: 0.25rem;
  opacity: 0.5;
}
.main .brand-wrap3 .tab-menu-swiper2 .swiper-slide #circle-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 4.875rem;
  height: 4.875rem;
  border-radius: 4.875rem;
}
.main .brand-wrap3 .tab-menu-swiper2 .swiper-slide .circle {
  stroke: hotpink;
  fill: none;
  stroke-width: 0.125rem;
  stroke-dasharray: 240;
  stroke-dashoffset: 240;
  animation-fill-mode: forwards;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
.main .brand-wrap3 .tab-menu-swiper2 .swiper-slide p {
  margin-top: 0.8125rem;
  font-size: 0.75rem;
  line-height: 0.8125rem;
  color: #bbb;
  text-align: center;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .brand-wrap3 .tab-menu-swiper2 .swiper-slide.active .img-box.v2::before {
  border: 0.125rem solid #eee;
}
.main .brand-wrap3 .tab-menu-swiper2 .swiper-slide.active .img-box::before {
  border: 0.125rem solid #000;
}
.main .brand-wrap3 .tab-menu-swiper2 .swiper-slide.active .circle {
  animation: circle 6s ease-in-out;
  animation-fill-mode: forwards;
}
.main .brand-wrap3 .tab-menu-swiper2 .swiper-slide.active .img {
  opacity: 1;
}
.main .brand-wrap3 .tab-menu-swiper2 .swiper-slide.active p {
  color: #000;
  font-weight: 500;
}
.main .brand-wrap3 .tab-prd-list2 {
  display: none;
  margin-top: -8.75rem;
  position: relative;
  z-index: 1;
}
.main .brand-wrap3 .tab-prd-list2.active {
  display: block;
}
.main .brand-wrap3 .tab-prd-list2 .product-list {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 1.25rem;
}
.main .brand-wrap3 .tab-prd-list2 .product-list::-webkit-scrollbar {
  display: none;
}
.main .brand-wrap3 .tab-prd-list2 .product-list .product-item {
  display: inline-flex;
  width: 6.5625rem;
}
.main .brand-wrap3 .tab-prd-list2 .product-list .product-item .product-model .img-box {
  padding-bottom: 133.333%;
}
.main .brand-wrap3 .tab-prd-list2 .product-list .product-item .product-info {
  padding: 1rem 0 0;
}
.main .brand-wrap3 .tab-prd-list2 .product-list .product-item .product-title {
  overflow: hidden;
  height: 0.875rem;
}
.main .brand-wrap3 .tab-prd-list2 .product-list .product-item .product-title .title {
  margin: 0;
  font-size: 0.75rem;
  line-height: 0.875rem;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .brand-wrap3 .tab-prd-list2 .product-list .product-item .product-price {
  margin-top: 0.625rem;
}
.main .brand-wrap3 .tab-prd-list2 .product-list .product-item + .product-item {
  margin-left: 0.375rem;
}
.main .brand-wrap3 .brand-box {
  position: relative;
  margin-top: 1.25rem;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-bottom: 132%;
  vertical-align: middle;
}
.main .brand-wrap3 .brand-box img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.main .brand-wrap3 .brand-box .text-box {
  position: absolute;
  bottom: 10rem;
  left: 1.25rem;
  right: 1.25rem;
  z-index: 10;
  font-size: 1.3125rem;
  line-height: 1.6875rem;
  color: #fff;
  word-break: keep-all;
  text-align: center;
}
.main .brand-wrap3 .brand-box::after {
  content: "";
  height: 100vw;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  background: linear-gradient(to bottom, rgba(84, 84, 84, 0), #000);
  opacity: 0.400000006;
  bottom: 0;
}
.main .brand-wrap3 .tab-prd-list2 {
  display: none;
}
.main .brand-wrap3 .tab-prd-list2.active {
  display: block;
}
.main .brand-wrap3 .btn-wrap {
  margin: 1.5625rem 1.25rem 0;
}
@keyframes circle {
  from {
    stroke-dashoffset: 240;
  }
  to {
    stroke-dashoffset: 480;
  }
}
.main .style-wrap .style-swiper .swiper-slide a {
  position: relative;
  display: flex;
}
.main .style-wrap .style-swiper .swiper-slide a .img-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-bottom: 133.432%;
  vertical-align: middle;
}
.main .style-wrap .style-swiper .swiper-slide a .img-box img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.main .style-wrap .style-swiper .swiper-slide a .img-box::after {
  content: "";
  height: 100vw;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  background: linear-gradient(180deg, rgba(14, 34, 106, 0) 0%, rgba(5, 20, 74, 0.84) 53.57%, #000C37 100%);
  opacity: 0.3;
  bottom: 0;
}
.main .style-wrap .style-swiper .swiper-slide a .text-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  padding-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.main .style-wrap .style-swiper .swiper-slide a .text-box .title-type2 {
  color: #fff;
  word-break: keep-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.6875rem;
  white-space: initial;
  max-height: 3.375rem;
}
.main .style-wrap .style-swiper .swiper-slide a .text-box .sub-title-type {
  margin-top: 0.625rem;
  font-size: 0.75rem;
  line-height: 1.0625rem;
  color: #fff;
  word-break: keep-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.0625rem;
  white-space: initial;
  max-height: 2.125rem;
}
.main .style-wrap .style-swiper .swiper-slide .btn-type2 {
  margin-top: 1.5625rem;
}
.main .style-wrap .style-swiper .swiper-pagination {
  margin: 1.25rem 0 0;
  width: initial;
}
.main .style-wrap .shop-list {
  margin-top: 5rem;
}
.main .style-wrap .shop-list > li a {
  display: block;
}
.main .style-wrap .shop-list > li + li {
  margin-top: 0.25rem;
}

body.landscape .main .visual-wrap .swiper-slide a .video-wrap .video-area {
  padding-bottom: initial;
}/*# sourceMappingURL=main.css.map */